body {
    direction: rtl;
    padding: 50px;
    font-family: is;
}


.container.calendar-box {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    width: 480px;
}

select {
    display: inline !important;
    max-width: 49.4%;
    margin: 7px 0;
}
th, td, table, .card {
    border: 0 !important;
}

td:hover{
    background: #f1f1f1;
}

td.holiday,td.friday {
    background: #fdfdfd;
    color: #f00;
    font-weight: 700;
}
.today {
    background-color: #dcefdb;
    color: #28a745;
    font-weight: 700;
}
thead{
    background: #4b4b4b;
    color: white;
}